<%- include('layout/header') %>
<link href="../src/index.css" rel="stylesheet">
<style>
    html, body {
        height: 100%;
        margin: 0;
    }

    .container {
        display: flex;
        min-height: 93.7vh; /* 최소 높이를 화면 전체 높이로 설정합니다. */
        width: 250vh;
        flex-direction: row;
    }

    .list-box{
        flex: 1;
        background-color: #293462;
    }
    .info-box{
        flex: 1;
        background-color: #F24C4C;
    }
    .map-box{
        flex: 1;
        background-color: #F7D716;
    }
</style>

<div class="container">
    <div class="list-box"></div>
    <div class="info-box"></div>
    <div class="map-box"></div>
</div>
<%- include('layout/footer') %> 