@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

/* font custom */
@font-face {
    font-family: GmarketSans;
    src: url('/src/media/font/GmarketSansTTFBold.ttf') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: GmarketSans;
    src: url('/src/media/font/GmarketSansTTFMedium.ttf') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: GmarketSans;
    src: url('/src/media/font/GmarketSansTTFLight.ttf') format('woff');
    font-weight: 300;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "GmarketSans", sans-serif;
}

/* scroll block */
body {
    overflow: hidden;
}


#webHeader {
    z-index: 100;
}

#mapDiv {
    width: calc(100vw - 500px);
    height: calc(100vh - 54px);

    position: relative;
    
    left: 500px;
    
    z-index: 1;
}

#getMyPositionBtn {
    height: 34px;
    background-color: white;

    border-radius: 3px;
    border-width: 1px;

    /* 버튼을 div 위에 표시 */
    position: absolute;
    top: 95vh;
    left: 97vw;

    z-index: 2;
}


#clothes-list {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    top: 54px;
    left: 0;
    position: absolute;

    width: 500px;
    height: calc(100vh - 54px);
    background-color: white;

    z-index: 10;
}

.clothes-list-title {
    padding: 25px;
    width: 100%;

    height: auto;

}

#getNowAddressRefreshBtn {
    width: 20px;
    height: 20px;

    margin: auto;
    cursor: pointer;

    visibility: hidden;
}

#list-title-top-div {
    display: flex;
    line-height: 200%;
}

#list-title-top {
    font-size: 20px;
    color: grey;
}

#list-title-bottom-div {
    font-size: 30px;
    color: black;
    font-weight: bold;
}

.list-container {
    padding-top: 10px;
    padding-bottom: 20px;
    height: 85vh;
    width: 100%;
    text-align: center;

    display: flex;
    flex-direction: row;

    background: linear-gradient(to bottom, #ffffff 90%, #dddddd);

    overflow: auto;
}


/* 리스트 스타일 */
.list-element {
    height: 170px;
    width: 460px;

    padding: 12px;
    margin: 15px;
    padding-left: 14px;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    display: flex;
    flex-direction: row;

    border-radius: 15px;

    /* 그림자 스타일 설정 */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

#list-element-item {
}

#list-element-image-container {
    height: 100%;
    width: 35%;
    border-radius: 10px;
    background-color: white;
    overflow: hidden; /* 이미지를 컨테이너 내에 숨기기 위해 */
    display: flex;
    justify-content: center;
    
}

#list-element-image {
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
    object-fit: cover; /* 이미지를 컨테이너에 맞춰서 자르도록 함 */
    width: 100%;

}


#list-element-info-container {
    margin-left: 30px;

    text-align: left;
}
.list-element-info-product-name-container {
    padding: 10px 0 10px 0
}
#list-element-info-product-name {
    font-size: 25px;
    color: black;
    font-weight: bold;

    line-height: 100%;
}

#list-element-info-store-name {
    font-size: 15px;
    color: black;

    font-weight: bold;

    line-height: 150%;
}

#list-element-info-store-address {
    font-size: 15px;
    color: black;

    line-height: 150%;
}

#list-element-info-product-price-container {
    line-height: 240%;
}
#list-element-info-product-discount-container {
    height: 20px;
    display: flex;
}
#list-element-info-product-discount {
    font-size: 15px;
    color: gray;

}
#list-element-info-product-price {
    margin-left: 4px;
    font-size: 15px;
    color: gray;
    text-decoration: line-through;
}
#list-element-info-product-discount-price {
    font-size: 20px;
    color: red;
}

#list-element-info-distance-div {
    position: absolute;

    /* top: -98.2%;
    left: 83%; */
    
    top: 75%;
    left: 83%;
}
#list-element-info-distance-title{
    font-size: 10px;
    color: black;

    line-height: 130%;
}
#list-element-info-distance {
    color: blue;
    font-weight: bold;
}

/* 상품 정보 창 */
#product-info {
    width: 400px;
    height: calc(100vh - 54px);

    top: 54px;
    left: 500px;

    padding: 20px;

    overflow-y: scroll;

    display: none;
    position: absolute;
    background-color: white;

    z-index: 9;
}

#product-info-close-btn {
    position: fixed;

    font-size: 30px;
    text-align: center;

    background-color: #f3f3f3;
    border-radius: 10px;

    height: 40px;
    width: 40px;

    margin-bottom: 25px;

    cursor: pointer;
}

#product-info-product-image {
    max-width: 100%;

    margin-bottom: 25px;

    border-radius: 15px;
}

#product-info-shop-info-div {
    background-color: white;
    border-radius: 15px;

    box-shadow: 0px 0px 15px rgb(218, 218, 218);

    display: flex;
    flex-direction: row;
    
    padding: 20px;

    width: 100%;
    height: 100px;
}

#product-info-shop-image {
    max-height: 100%;
    border-radius: 100000px;
}

#product-info-shop-name-address {
    margin-left: 20px;
}

#product-info-shop-name {
    font-size: 20px;
    font-weight: bold;

    line-height: 170%;
}

#product-info-shop-address {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

#product-info-shop-distance-div {
    margin-left: 20px;
    margin-top: 15px;
}
#product-info-shop-distance-title {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
#product-info-shop-distance {
    font-size: 18px;
    font-weight: bold;
    color: blue
}

/* 상점 정보 */
#product-info-product-name {
    margin-top: 20px;
    margin-left: 5px;
    
    color: black;

    font-weight: bold;
    font-size: 20px;
}

#product-info-product-price-div {
    display: flex;
    flex-direction: row;
    
    margin-top: 50px;

    width: 100%;

}

#product-info-product-discount-price {
    font-size: 30px;
    color: red;
    font-weight: bold;

}

#product-info-product-discount-div {
    display: flex;
    flex-direction: row;

    color: gray;
    font-weight: bold;

    
}

#product-info-product-discount {
}
#product-info-product-price {
    margin-left: 5px;
    margin-right: 20%;
}

#product-info-size-contanior {
    margin-top: 50px;
}
#product-info-size {
    font-size: 20px;
    font-weight: bold;

    margin: 20px;
}
#product-info-size-box {
    font-size: 20px;
    font-weight: bold;
    
    width: 100%;
    
    padding: 15px;
    text-align: center;
    
    border: solid 1.5px;
    border-radius: 10px;
}

#product-info-comment-contanior {
    margin-top: 50px;
}
#product-info-comment {
    font-size: 20px;
    font-weight: bold;
    
    margin: 20px;
}
#product-info-comment-box {
    font-size: 15px;
    font-weight: bold;
    
    width: 100%;
    height: 150px;
    
    padding: 15px;
    text-align: left;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px #e2e2e2;
}

#product-info-loca-contanior {
    margin-top: 50px;
}
#product-info-loca {
    font-size: 20px;
    font-weight: bold;
    
    margin: 20px;
}
#product-info-loca-map {    
    width: 100%;
    height: 150px;
    
    padding: 15px;
    text-align: left;
    
    border-radius: 10px;
    box-shadow: 0px 0px 10px #e2e2e2;
}


/* 스크롤바 설정*/
::-webkit-scrollbar {
    width: 7px;
}

/* 스크롤바 막대 설정*/
::-webkit-scrollbar-thumb {
    background-color: #232323;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.8);
}

/* 스크롤바 뒷 배경 설정*/
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}















/* 모달 부분 */
#loginModal {
    width: 100%;
    height: calc(100vh - 54px);

    top: 0;
    left: 0;

    margin-top: 54px;

    display: none;

    position: fixed;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.4);

    z-index: 80;
}

#loginModalCloseBtn {
    position: relative;

    height: 20px;
    width: 20px;

    left: 88.5%;

    cursor: pointer;
    margin: 15px;
    font-size: 20px;
}










/* html init */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}